<section class="text-center">
    <h1>{{title}}</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <div>
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text" id="basic-addon1">Name: </span>
                <input type="text" name="name" class="form-control" placeholder="Product Name" aria-label="Product name"
                    aria-describedby="basic-addon1" required="true">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Description: </span>
                <textarea class="form-control" name="description" aria-label="With textarea" required="true"></textarea>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="category-list">Category: </label>
                <select class="form-select" name="category" id="category-list">
                    {{#each categories}}
                    <option value={{this._id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="brand-list">Brand: </label>
                <select class="form-select" name="brand" id="brand-list">
                    {{#each brands}}
                    <option value={{this._id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Price: </span>
                <span class="input-group-text">$</span>
                <input type="text" name="price" class="form-control" placeholder="Price" aria-label="Price"
                    aria-describedby="basic-addon1" required="true">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">In Stock: </span>
                <input type="text" name="inStock" class="form-control" placeholder="In Stock" aria-label="In Stock"
                    aria-describedby="basic-addon1" required="true">
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Image</label>
                <input type="file" name="image" class="form-control" id="inputGroupFile01" required="true">
            </div>

            <button class="btn btn-info btn-lg text-center" type="submit">Submit</button>

        </div>
    </form>
</section>