<section class="item-detail">
    <h1 class="item-title">{{title}}</h1>
    <img class="item-detail-img" src="{{product.imgSrc}}">
    <p class="item-description">{{product.description}}</p>
    <div class="item">
        <div class="detail">
            <h5>Brand: <a href="{{product.brand.url}}" >{{product.brand.name}} </a> </h5>
            <h5>Category: <a href="{{product.category.url}}" >{{product.category.name}} </a></h5>
        </div>
        <div class="detail">
            <h5>In Stock: {{product.inStock}}</h5>
            <h5>Price: ${{product.price}}</h5>
        </div>
    </div>
</section>